## Build artifacts
releases/
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser

## Rider / VS Code
.idea/
.vscode/

## .gitignore
.gitignore

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
project.lock.json
project.fragment.lock.json
artifacts/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## User settings (runtime)
**/settings.json
